{% extends "question/questions.html" %}
{% load url from future %}

{% block title %}{{quest_list.0.qset.course.code}}{% endblock %}

{% block content %}
    <p> It is <b>your responsibility</b> to ensure your answers are correctly recorded to all questions (links will open in a new window):
    {% spaceless %}
    <ul>
    {% for quest in quest_list %}
        <li><a href="{% url 'quest-ask-specific-question'   course    qset   forloop.counter %}"
               target="_blank">Question {{forloop.counter}} of {{quest_list|length}}</a>
               [{{quest.qtemplate.max_grade}} points]:
               {% if quest.given_answer %}You provded an answer{% else %}<span class="quest-unanswered-question">You did not answer this question</span> {% endif %}
        </li>
    {% endfor %}
    </ul>

     <h2>Electronic signature</h2>
     <div style="quest-signature-statement">
        By checking the box below I am signing that this is my own work.
        I have not been assisted by anyone else and only used aides which are
        permissible.

        {% if error_message %}<div class="quest-field-error">{{error_message}}</div>{% endif %}
        <form action="{% url quest-submit-final-check course_code_slug=course, question_set_slug=qset %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <p><input type="checkbox" name="honesty-statement" value="agreed">I agree with the above statement, and by marking the checkbox I am signing this statement
            <p><input type="submit" value="Final submission of all my answers">
        </form>
     </div>
    {% endspaceless %}
{% endblock %}
