{% extends "base.html" %}

{% block title %}Question {{item_id}} of {{quests_lists|length}}{% endblock %}

{% block html_headers %}
{# http://stackoverflow.com/questions/7218010/ajax-radio-buttons-dont-work #}
<script language="javascript" type="text/javascript">
	$(document).ready(function() {
		$(':checkbox').click(function() {
			var selected = new Array();
			$('.quest-item-question input:checked').each(function() {
				selected.push($(this).attr('value'));
			});
			//alert('Selected: ' + selected);
			var valueSelected = this.value;
			var buttonSelected = this.id.replace(valueSelected + '_','');
			$.ajax(
			{
				type: "GET",
				url: '{% url quest-store-answer course_code_slug=course, question_set_slug=qset, question_id=item_id %}?entered=' + selected,
				data:  '',
				cache: false,
				success: function(result) {$('#ajaxDiv').html(result);},
				error: function (response, desc, exception) {// custom error
				}
			});
		});
	});
	$(document).ready(function() {
        $(':radio').click(function() {
            var valueSelected = this.value;
            var buttonSelected = this.id.replace(valueSelected + '_','');
            $.ajax({
				type: "GET",
              url: '{% url quest-store-answer course_code_slug=course, question_set_slug=qset, question_id=item_id %}?entered=' + valueSelected,
              data:  '',
              cache: false,
              success: function(result) {$('#ajaxDiv').html(result);},
				error: function (response, desc, exception) {// custom error
			    }
          });
		});
	});
	$(document).ready(function() {
		var timer = null;
		$('.quest-item-question').find('textarea').keydown(function() {
			itemValue = encodeURIComponent($(this).val());
			if (timer){
				window.clearTimeout(timer);
			};
			timer = window.setTimeout(function()
			{
				$.ajax(
				{
					type: "GET",
					url: '{% url quest-store-answer course_code_slug=course, question_set_slug=qset, question_id=item_id %}?entered=' + itemValue,
					data:  '',
					cache: false,
					success: function(result) {$('#ajaxDiv').html(result);},
					error: function (response, desc, exception) {// custom error
					}
				});
			}, {{timeout_time}});
		});
		$('.quest-item-question').find('textarea').change(function() {
			itemValue = encodeURIComponent($(this).val());
			$.ajax(
			{
				type: "GET",
				url: '{% url quest-store-answer course_code_slug=course, question_set_slug=qset, question_id=item_id %}?entered=' + itemValue,
				data:  '',
				cache: false,
				success: function(result) {$('#ajaxDiv').html(result);},
				error: function (response, desc, exception) {// custom error
				}
			});
		});
	});
{# http://stackoverflow.com/questions/1620602/javascript-jquery-make-an-ajax-request-when-a-user-is-typing-in-a-textarea    http://stackoverflow.com/questions/10018437/jquery-ajax-autosave-for-textareas #}
</script>

<script>
    var interval;
    var minutes = {{minutes_left}};
    var seconds = {{seconds_left}};
    window.onload = function() {
        countdown('countdown');
    };

function countdown(element) {
    interval = setInterval(function() {
    var el = document.getElementById(element);
        if(seconds == 0) {
                if(minutes == 0) {
                    el.innerHTML = "The testing time has ended";
                    clearInterval(interval);
                    return;
                } else {
                    minutes--;
                    seconds = 60;
                }
            }
            if(minutes > 0) {
                var minute_text = minutes + (minutes > 1 ? ' minutes' : ' minute');
            } else {
                var minute_text = '';
            }
            var second_text = seconds > 1 ? 'seconds' : 'second';
            el.innerHTML = minute_text + ' ' + seconds + ' ' + second_text + ' remaining';
            seconds--;
       }, 1000)
};
</script>

{% endblock %}

{% block header %}
    <div id='countdown'></div>
    <div id="quest-item-header">
        <div id="quest-item-header-left">{% if item.prev_q %}
            <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"-1" %}">Previous</a>{% endif %}</div>
        <div id="quest-item-header-right">{% if item.next_q %}
            <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"1" %}">Next</a>{% endif %}</div>
    </div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    {% if last_question %}
        <div id="quest-item-header">
            <div id="quest-item-header-left">{% if item.prev_q %}
                <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"-1" %}">Previous</a>{% endif %}</div>
            <div id="quest-item-header-right">
				{% if not html_solution %}
                <form action="{% url quest-submit-final-check course_code_slug=course, question_set_slug=qset%}" method="GET" enctype="multipart/form-data">{% csrf_token %}
					<input type="submit" name="submit-questions" value="Submit answers and sign-out">
				</form>
				{% endif %}
            </div>
        </div>
    {% else %}
         <div id="quest-item-header-left">{% if item.prev_q %}
          <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"-1" %}">Previous</a>{% endif %}</div>
        <div id="quest-item-header-right">{% if item.next_q %}
          <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"1" %}">Next</a>{% endif %}</div>
    {% endif %}
    <div id="ajaxDiv"></div>
{% endblock %}




