{% extends "question/questions.html" %}
{% load humanize %}

{% block title %}All questions for {{question_set_list.0.course.code}}{% endblock %}
{% block headerleft %}<a href="{% url quest-course-selection%}">&lt; List of all courses</a>{% endblock %}


{% block content %}

    {# TODO(KGD): hide table if there are no item.is_active entries in the list #}
    <p>Welcome: <b>{{username}}</b>
        {# for qset in question_set_list #}
            <div id="quest-course-list-container">

                <br>
                <p>Course: {{question_set_list.0.course.name}}
                <p>Total grades: <span class="quest-item-grading">{{average|floatformat}}%</span>
                <br>
                <table>
                    <tr>
                        <th style="width:10%">Test name</th>
                        <th style="width:20%">Earliest starting time</th>
                        <th style="width:20%">Tests closes at</th>
                        <th style="width:40%">Announcements</th>
                        <th style="width:10%">Grade</th>
                    </tr>
                    {% for item in question_set_list %}
                    {% if item.is_active %}
                    <tr>
                        <td><a href="{% url quest-ask-show-questions item.course.slug item.slug %}">{{item.name}}</a>
                        <td>{{item.ans_time_start|date:"d F Y"}} at {{item.ans_time_start|date:"g:i A"}}
                        <td>{{item.ans_time_final|date:"d F Y"}} at {{item.ans_time_final|date:"g:i A"}}
                        <td>{{item.announcement|safe}}
                        <td>{% if item.grade %}<div class="quest-item-grading">{{item.grade}}</div>{% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        {# endfor #}
{% endblock %}
