{% extends "question/questions.html" %}
{% load humanize %}

{% block title %}All questions available{% endblock %}

{% block content %}
    {# TODO(KGD): hide table if there are no item.is_active entries in the list #}
        {% for qset in question_set_list %}
            <div id="quest-course-list-container">
                <p>Welcome: <b>{{username}}</b>
                <br>
                <p>Course: {{qset.0.course.name}}
                <br>
                <table>
                    <tr>
                        <th style="width:10%">Test name</th>
                        <th style="width:20%">Earliest starting time</th>
                        <th style="width:20%">Tests closes at</th>
                        <th style="width:50%">Announcements</th>
                    </tr>
                    {% for item in qset %}
                    {% if item.is_active %}
                    <tr>
                        <td><a href="{% url quest-ask-show-questions item.course.slug item.slug %}">{{item.name}}</a>
                        <td>{{item.ans_time_start|date:"d F Y G:i"}}
                        <td>{{item.ans_time_final|date:"d F Y G:i"}}
                        <td>{{item.announcement|safe}}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
{% endblock %}
