{% extends "base.html" %}
{% load url from future %}

{% block title %}Question {{item_id}} of {{quest_list|length}}{% endblock %}

{% block html_headers %}
{# http://stackoverflow.com/questions/7218010/ajax-radio-buttons-dont-work #}
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $(':radio, :checkbox').click(function() {

            var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}'};
            $('.quest-item-question :radio:checked').each(function() {
                postdata[$(this).attr('name')] = $(this).attr('value');
                <!--selected.push($(this).attr('value'));-->
            });
            $('.quest-item-question checkbox:checked').each(function() {
                postdata[$(this).attr('name')] = true;
                <!--selected.push($(this).attr('value'));-->
            });


            $.ajax({
                type: "POST",
                url: '{% url 'quest-store-answer' course_code_slug=course question_set_slug=qset question_id=item_id %}',
                data:  postdata,
                cache: false,
                success: function(result) {$('#ajaxDiv').html(result);},
                error: function (response, desc, exception) {// custom error
                }
            });
        });
    });
    $(document).ready(function() {
        var timer = null;
        $('.quest-item-question').find('textarea').keydown(function() {
            var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}'};
            $('.quest-item-question textarea').each(function() {
                postdata[$(this).attr('name')] = $(this).val();
            });
            if (timer){
                window.clearTimeout(timer);
            };
            timer = window.setTimeout(function()
            {
                $.ajax(
                {
                    type: "POST",
                    url: '{% url 'quest-store-answer' course_code_slug=course question_set_slug=qset question_id=item_id %}',
                    data: postdata,
                    cache: false,
                    success: function(result) {$('#ajaxDiv').html(result);},
                    error: function (response, desc, exception) {// custom error
                    }
                });
            }, {{timeout_time}});
        });
        $('.quest-item-feedback').find('textarea').keydown(function() {
            itemValue = encodeURIComponent($(this).val());
            if (timer){
                window.clearTimeout(timer);
            };
            timer = window.setTimeout(function()
            {
                $.ajax(
                {
                    type: "GET",
                    url: '{% url 'quest-store-answer' course_code_slug=course question_set_slug=qset question_id=item_id %}?feedback=' + itemValue,
                    data:  '',
                    cache: false,
                    success: function(result) {$('#ajaxDiv').html(result);},
                    error: function (response, desc, exception) {// custom error
                    }
                });
            }, {{timeout_time}});
        });
        $('.quest-item-question').find('input').keydown(function() {
            if (timer){
                window.clearTimeout(timer);
            };
            timer = window.setTimeout(function()
            {
                var url_out = '?';
                $('.quest-item-question input').each(function() {
                    url_out += $(this).attr('name') + '=' + encodeURIComponent($(this).val()) + '&';
                });
                $.ajax(
                {
                    type: "GET",
                    url: '{% url 'quest-store-answer' course_code_slug=course question_set_slug=qset question_id=item_id %}' + url_out,//?entered=' + typed_values + '&box_names=' + box_names,
                    data:  '',
                    cache: false,
                    success: function(result) {$('#ajaxDiv').html(result);},
                    error: function (response, desc, exception) {// custom error
                    }
                });
            }, {{timeout_time}});
        });
    });
{# http://stackoverflow.com/questions/1620602/javascript-jquery-make-an-ajax-request-when-a-user-is-typing-in-a-textarea    http://stackoverflow.com/questions/10018437/jquery-ajax-autosave-for-textareas #}
</script>

<script>
    var interval;
    var minutes = {{minutes_left}};
    var seconds = {{seconds_left}};
    window.onload = function() {
        countdown('quest-countdown');
    };

function countdown(element) {
    interval = setInterval(function() {
    var el = document.getElementById(element);
        if(seconds == 0) {
            if(minutes == 0) {
                el.innerHTML = "The testing period has expired";
                clearInterval(interval);
                return;
            } else {
                minutes--;
                seconds = 60;
            }
        }
        if(minutes > 0) {
            var minute_text = minutes + (minutes > 1 ? ' mins' : ' min');
        } else {
            var minute_text = '';
        }
        var second_text = seconds > 1 ? 'secs' : 'sec';
            if(minutes > 3) {
        el.innerHTML = 'Time remaining:<br> ' + minute_text;
        } else {
            el.innerHTML = 'Time remaining:<br> ' + minute_text + ' ' + seconds + ' ' + second_text;
        }
        seconds--;
    }, 1000)
};
</script>

{% endblock %}

{% block headerleft %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
