{% extends "question/questions.html" %}

{% block content %}
    <h2>Question {{item_id}} of {{quests_lists|length}}</h2>

    <div id="quest-itemdisp-container">
        <div class="quest-item-question">
            {% if html_solution %}The question was:{% endif %}
            {{html_question|safe}}
        </div>
        <div class="quest-item-solution">
            {% if html_solution %}The solution is:
            <br>
            {{html_solution|safe}}
            {% endif %}
        </div>
        <div class="quest-item-grading">
        </div>
        <div class="quest-item-feedback">
        </div>
        <div class="quest-item-graders-comments">
        </div>
    </div>

    <div style="clear: both;"><p>&nbsp;</div>

{% endblock %}