{% extends "question/questions.html" %}

{% block title %}Question {{item_id}} of {{quest_list|length}}{% endblock %}

{% block content %}
    <h2>Question {{item_id}} of {{quest_list|length}}&nbsp;&nbsp;&nbsp; [{{item.qtemplate.max_grade}} point{{item.qtemplate.max_grade|pluralize}}]</h2>
    {% if last_question %}
        <!--<div id="quest-item-header">-->
            <div id="quest-item-header-left">{% if item.prev_q %}
                <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"-1" %}">Previous</a>{% endif %}</div>
            <div id="quest-item-header-right">
				{% if not html_solution %}
                <form action="{% url quest-submit-final-check course_code_slug=course, question_set_slug=qset%}" method="GET" enctype="multipart/form-data">{% csrf_token %}
					<input type="submit" name="submit-questions" value="Submit answers and sign-out">
				</form>
				{% endif %}
            </div>
        <!--</div>-->
    {% else %}
         <div id="quest-item-header-left">{% if item.prev_q %}
          <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"-1" %}">Previous</a>{% endif %}</div>
        <div id="quest-item-header-right">{% if item.next_q %}
          <a href="{% url quest-ask-specific-question course_code_slug=course, question_set_slug=qset, question_id=item_id|add:"1" %}">Next</a>{% endif %}</div>
    {% endif %}

    <div id="quest-itemdisp-container">
        <div class="quest-item-question">
            {% if html_solution %}<i>The question was</i>:{% endif %}
            <br>
            {{html_question|safe}}
        </div>
        <div class="quest-item-solution">
            {% if html_solution %}
            {{html_solution|safe}}
            {% endif %}
        </div>
        <div class="quest-item-grading">
        </div>
        <div class="quest-item-feedback">
        </div>
        <div class="quest-item-graders-comments">
        </div>
    </div>

    <div style="clear: both;"><p>&nbsp;</div>

{% endblock %}
