{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<table class="quest-sign-in-table">
		<tr>
			<td>Email address:</td>
			<td><input id="id_student_number" type="email" name="user_mail_address" maxlength="60" placeholder="{{email_placeholder}}"/></td>
			<td><input type="submit" name="mysubmit" value="Email me a login address"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
	* <i>It can take a few minutes before the sign-in email
reaches your <b>official university email address</b>.</i>
</form>
<br>
<b>Note:</b> there is too high a sensitivity on the grading in Quest 3. I'll turn it down and reprocess those grades in the next day or so.
<br>

<br><br>You can estimate your grade to a high accuracy as follows:
<ul>
<li>You will get full grade if you answer the question correctly.
<li>For multiple choice questions, subtract off 0.5 marks for every checkbox that should not be checked.
<li>For numeric answers, if your answer agrees with about 1% tolerance, you will get full grade.
<li><STRIKE>If you have too many significant figures, you will get deductions of 0.25 marks per box.</STRIKE>
<li>If there are 4 grades for a question, and there are two boxes to fill in, then each box has equal weighting, i.e. 2 + 2.
</ul>
Hope that helps clarify it.

{% endblock %}
