{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table class="quest-sign-in-table">
        <tr>
            <td>Email address:</td>
            <td><input id="id_student_number" type="email" name="user_mail_address" maxlength="60" placeholder="{{email_placeholder}}"/></td>
            <td><input type="submit" name="mysubmit" value="Email me a login address"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    * <i>It can take a few minutes before the sign-in email
reaches your <b>official university email address</b>.</i>
</form>


{% endblock %}
