{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
      <meta http-equiv="Content-Language" content="en-us" />
      <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
      <meta HTTP-EQUIV="Expires" CONTENT="-1">
      <title>{% block title %} {% endblock %} | {{SITE_NAME}}</title>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata">
      <link rel="stylesheet" href="{{MEDIA_URL}}quest-main.css?{{VERSION}}" type="text/css" media="Screen"/>
      <link rel="stylesheet" href="{{MEDIA_URL}}pygments.css?{{VERSION}}" type="text/css" />
      <script type="text/javascript" src="{{JQUERY_URL}}"></script>
      <script type="text/javascript" src="{{JQUERYUI_URL}}"></script>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      {{ANALYTICS_SNIPPET|safe}}

      {% block html_headers %}{% endblock%}
      <!-- (c) Quest website, Kevin Dunn, January 2013, http://learnche.mcmaster.ca -->
   </head>
   <body>
	  <div id="quest-document-container">
		 <div id="quest-header">
			<div class="quest-header-row" id="quest-top-menu">
			   {% block header %}{% endblock %}
			</div>
			<div style="clear:both;"></div>
			<div class="quest-header-left">{% block headerleft %}{% endblock %}</div>
			<div class="quest-header-right">{% block headerright %}{% endblock %}
			</div>
			<div class="quest-header-row" id="quest-site-title">
			<h1>{{SITE_NAME}}</h1>
			</div>
		 </div> <!--#quest-header-->
		 <div style="clear:both;"></div>
		 <div id="quest-contentwrap">
			<div id="quest-content-main">
			   <div id="quest-border">
				  <div id="quest-section-body">
					 {% block content %}{% endblock %}
				  </div><!--#quest-section-body-->
			   </div><!--#quest-border-->
			</div><!--quest-content-main-->
		 </div><!--#quest-contentwrap-->

		 <div id="quest-footer">
			<div class="quest-footer-left">{% block footer %}{% endblock %}</div>
			<div class="quest-footer-right">
			<div style="clear:both;"></div>
			<span id='quest-countdown'></span>
			</div>

		 </div> <!--#quest-footer-->
	  </div> <!--quest-container-->
	  <script type="text/javascript">if (window.runOnloadHook) runOnloadHook();</script>
   </body>
</html>
