{% block content %}
<form name="input" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

<p>Email suffix to add to student email addresses: <input type="text" name="email_suffix" autofocus="true"
                        value="{{suffix}}">
<p>Course code:
<select name="course_slug">
  {% for course in course_list %}
    <option value="{{course.slug}}">{{course.name}} [{{course.year}}]</option>
  {% endfor %}
</select>
<p>CSV file: <input type="file" name="csv_file" size="40">
<p>The CSV file must have the following format
<ul>
<li> Only 5 columns: <tt>last_name, first_name, email_prefix, student_number, group </tt>
<li> The fifth column is optional.
<li> Use commas for separators.
<li> No header row.
<li> The file can easily be created by a copy/paste from Avenue to a text file.
</li>
<p><input type="submit" value="Load the class list">
</form>
</hr>
{% endblock %}
