{% block content %}
<form name="input" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

    <p>Course code:
    <select name="course_slug">
        {% for course in course_list %}
            <option value="{{course.slug}}">{{course.name}} [{{course.year}}]</option>
        {% endfor %}
    </select>
    <p>Question set
    <select name="qset_slug">
        {% for qset in qset_list %}
            <option value="{{qset.slug}}">{{qset.name}} [{{qset.course.name}}]</option>
        {% endfor %}
    </select>

    <p>Text file containing the template: <input type="file" name="template_file" size="40">

    <p><input type="submit" value="Load the template">
</form>
</hr>
{% endblock %}
